<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>react</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script>
  </script>
<link href="/index-a204bce56244b6f79766.css" rel="stylesheet"></head>
<body>
<div id="root">

</div>
<script type="text/javascript" src="/manifest.b6edb2907e84b95810e4.js"></script><script type="text/javascript" src="/vendor.a5b11ad294b26c6f8367.js"></script><script type="text/javascript" src="/index.80da928628075fbc0090.js"></script></body>

</html>
