<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>react</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script>
  </script>
<link href="/index-8c7b2cf095c750059968.css" rel="stylesheet"></head>
<body>
<div id="root">

</div>
<script type="text/javascript" src="/vendor.dll.js?d58fb9f39b77137b0841"></script><script type="text/javascript" src="/manifest.52a848c22a6d62491fd7.js"></script><script type="text/javascript" src="/common.415be95736587c95ea1a.js"></script><script type="text/javascript" src="/index.50a9849777c8574571fd.js"></script></body>

</html>
